.main-comments {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  &__mohan {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    margin: 0 10px 48px 0;
  }
  &__title {
    margin: 0 0 32px 0;
    font-family: "Avenir Demi";
    color: #323232;
  }
  &__form {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #afafaf;
  }
  &__conversation {
    margin: 0;
    margin-left: 62px;
    color: #afafaf;
    font-family: "Avenir demi";
    font-size: 0.8rem;
  }
  &__comment {
    margin: 0;
    margin-left: 4px;
    margin-bottom: 16px;
    padding: 0;
    border-radius: 4px;
    border: solid 2px#0095ff;
    width: 224px;
    height: 96px;
    align-self: flex-end;
    font-family: "Avenir Regular";
    color: #323232;
    padding: 10px 10px;
    font-size: 0.89rem;
  }
  &__submit {
    width: 228px;
    height: 50px;
    align-self: flex-end;
    margin-bottom: 24px;
    background-color: #0095ff;
    color: #ffffff;
    border-style: solid;
    border-radius: 8px;
    margin-left: 60px;
  }
  &__section {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #afafaf;
  }
  &__wrapper {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
    margin: 24px 0 10px 0;
  }
  &__name {
    margin: 0;
    font-family: "Avenir Demi";
    font-size: 0.89rem;
    color: #323232;
  }
  &__image {
    height: 48px;
    width: 48px;
    margin: 0 16px 74px 0;
  }
  &__date {
    align-items: flex-end;
    font-family: "Avenir Regular";
    margin: 0;
    color: #afafaf;
  }
  &__content {
    margin: 0 0 24px 0;
    font-family: "Avenir Regular";
    font-size: 0.84rem;
    line-height: 1.2rem;
    color: #323232;
  }
}

@include tablet {
  .main-comments {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    &__wrapper {
      justify-content: left;
    }
    &__section {
      align-items: center;
    }
    &__name {
      margin-right: 20px;
    }
    &__image {
      margin: 0 16px 24px 0;
    }
    &__comment {
      width: 440px;
      height: 40px;
      margin: 0px;
      margin-right: 16px;
    }
    &__mohan {
      margin: 0;
      margin-right: 16px;
    }
    &__submit {
      width: 160px;
      height: 45px;
      margin: 0;
      padding: 0;
      margin-bottom: 2px;
    }
    &__tablet {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }
    &__content {
      font-size: 0.909rem;
    }
  }
}
@include desktop {
  .main-comments {
    margin: 0;
    &__comment {
      width: 436px;
    }
    &__mohan {
    }
    &__submit {
      width: 152px;
    }
  }
}
